<p>Know of more hominids? Tell us about it!</p>

<form action="/hominid" method="post">
    <input type="text" name="genus" id="genus" />
    <input type="text" name="species" id="species" />
    <input type="submit" id="submit" />
</form>
