<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Creature Database</title>
</head>

<body>
<p>Welcome to the great ape database. Here's a list of hominids in the genus {genus} currently stored here.</p>
<ul>
    {#species}
        <li><a href="/hominid/{genus}/{.}">{genus} {.}</a></li>
    {/species}
</ul>

{>form /}
</body>

</html>
